<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static 'cc.css'%}">
    <script src="https://kit.fontawesome.com/f4b427c9b7.js" crossorigin="anonymous"></script>
    <title>Selection</title>
</head>
<body>
<div class="container">
<div class="card">
<div class="innerbox" id="card">
<div class="card-1">
    
    <form method="post">
    {% csrf_token %}
        <i class="fas fa-chalkboard-teacher"></i>
        <button type="login" class="submit-btn" value="_teacher" action="_teacher" name="action">Teacher</button>
        <i class="fas fa-user-alt"></i>
        <button type="login" class="submit-btn" value="_student" action="_student" name="action1">Student</button>
        <i class="fas fa-user-friends"></i>
        <button type="login" class="submit-btn" value="_person" action="_person" name="action2">Others</button>
    </form>

  </div>
  </div>
  </div>                

</div>